* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  background: linear-gradient(#070F2B 50%, #1B1A55 80%);
  background-image: url("/aranha-teia.jpg");
  background-position: center;
  background-size: cover;
}
 